:root {
  --dark: hsl(72, 5%, 21%);
  --light: #DCE1E9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  min-width: max-content;
  font-family: sans-serif;
}

header {
  z-index: 2;
  position: sticky;
  padding: 0.5rem;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 1rem;
  background-color: hsla(72, 5%, 21%, 0.75);
}

header .game-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
}

ul.characters {
  justify-content: center;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

ul.characters li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul.characters li img {
  max-width: 50px;
  aspect-ratio: 1;
  object-fit: contain;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}

main > section:not(main .game) {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
  gap: 2rem;
  width: 100%;
  flex-grow: 1;
}

button {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  color: var(--light);
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  box-shadow: 1px 1px 5px black;
}

header button {
  padding: .5rem .75rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.game {
  min-width: max-content;
  position: relative;
}

.game > img {
  min-width: max-content;
  width: 100%;
}

ul.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.level-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1rem;
}

.level-card img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  pointer-events: none;
}

.level-card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(200,200,200,0.25);
}

.level-card .overlay {
  position: absolute;
  pointer-events: none;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.game-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.3rem;
  background-color: rgba(0,0,0,0.95);
  list-style: none;
  position: fixed;
  border: 1px solid var(--dark);
  box-shadow: 1px 1px 10px 3px black;
}

.game-popup li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  text-align: end;
  padding: 0.5rem 1rem;
}

.game-popup li img {
  max-width: 50px;
  aspect-ratio: 1;
  object-fit: contain;
}

.game-popup li:nth-of-type(1) {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.game-popup li:nth-last-of-type(1) {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

hr {
  border-color: var(--dark);
}

.found {
  color: rgba(255, 255, 255, 0.25);
}

.found-icon {
  opacity: 0.25;
}

.found-overlay {
  display: flex;
  text-align: center;
  background-color: red;
  padding: 0.25rem;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light);
  pointer-events: none;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

.crosshair {
  position: fixed;
  width: 50px;
  height: 50px;
  background: url("./images/crosshair.svg"), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: center;
  pointer-events: none;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.credits {
  position: absolute;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border: 1px solid var(--dark);
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
}

.credits a {
  cursor: pointer;
  text-decoration: none;
  color: orange;
}

.game form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(0,0,0,0.95);
  box-shadow: 1px 1px 10px 3px black;
  border: 1px solid var(--dark);
  transform: translateX(-50%) translateY(-50%);
}

label {
  position: absolute;
  color: transparent;
  overflow: hidden;
  height: 1px;
  width: 1px;
}

form p:not(p[role="alert"]) {
  margin: 0.75rem;
}

form button {
  margin-top: 0.75rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

input:invalid {
  border: 2px solid blue;
}

p[role="alert"] {
  width: 100%;
  margin-top: 0.5rem;
  text-align: right;
  font-size: 0.9rem;
  color: orange;
}

table {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  max-width: 600px;
}

th {
  font-size: 1.2rem;
  padding: 0.5rem;
  flex-basis: 50%;
}

th:nth-of-type(1) {
  text-align: left;
}

th:nth-of-type(2) {
  text-align: right;
}

tr {
  padding: 0.25rem;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  border: 1px solid orange;
}

td.loading, td.empty {
  flex-basis: 100%;
  text-align: center;
  padding: 1rem;
}

tr > td:not(tr > td:nth-of-type(1)) {
  flex-grow: 1;
}

tr > td:nth-of-type(3) {
  text-align: right;
}

@media (hover) {
  * {
    cursor: default;
  }

  .game-popup img {
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    appearance: none;
    display: none;
  }

  button,
  .level-card,
  .level-card *,
  .game-popup,
  .game-popup *:not(.game-popup .found) {
    cursor: pointer;
  }

  input {
    cursor: text;
  }

  .game > img:hover {
    cursor: url("./images/crosshair.svg") 25 25, auto;
  }

  .level-card:hover .overlay {
    background-color: rgba(0,0,0,0.1);
  }
  .level-card:hover .info {
    background-color: rgba(0,0,0,0.75);
  }

  .game-popup li:hover:not(li.found) {
    background-color: rgba(10,10,10,0.75);
    color: orange;
  }
}